.userinfo {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    max-width: 350px;
    width: 100%;
    margin: auto;

    .user {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: start;


        .img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid white;

            &:hover {
                cursor: pointer;
            }
        }

        .username {
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;

            h2 {
                font-size: 1.2rem;
                font-weight: 500;
                color: #fff;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            p{
                font-size: 0.6rem;
                color: #fff;
            }
        }




    }

    .icons {
        display: flex;
        gap: 20px;

        .img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            cursor: pointer;
            transition: all .2s;
            &:hover{
                transform: scale(1.5);
            }
        }
    }
}